body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#videoResults {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-card {
    width: 250px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.video-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.video-card a {
    color: #00f;
    text-decoration: none;
}

.video-card p {
    font-size: 14px;
    color: #777;
}
